@import "./variables.less";

.hidden {
    display: none;
}

.main-content-region {
    max-height: 95%;
}

.btn {
    text-transform: uppercase;
    color: white;
    border: 1px solid @secondary-color;
    padding-top: 5px;
    padding-bottom: 3px;
    cursor: pointer;
    background: @dark-btn-color;
    height: 35px;
    &--active {
        background: @dark-btn-active-color;
        box-shadow: 1px 1.5px 5px grey;
    }
    &:active {
        background: @dark-btn-active-color;;
    }
}

.text-input {
    border-radius: 2px;
    font-size: 14px;
    border: 1px solid @input-border-color;
    margin: 0px 5px 0px 5px;
    width: 120px;
    padding: 2px 0px 2px 5px;
    &--disabled {
        background-color: @text-input-disabled-color;
    }
    &--error {
        border: 1px solid red;
    }
}

.select-input {
    border: 1px solid @input-border-color;
    height: 20px;
    width: 30px;
    background-color: white;
    border-radius: 0px;
    &--error {
        border: 1px solid red;
    }
}

.header-container {
    display: flex;
}

.description-container {
    margin-top: 0px;
    margin-bottom: 0px;
}

.description {
    padding-top: 3px;
    margin-left: 5px;
}

.table-view-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    padding: 10px 10px 10px 10px;
}

.label {
    text-transform: capitalize;
    padding-top: 3px;
    max-height: 20px;
}

.table-view {
    overflow: auto;
    max-height: 95%;
}