@import "./variables.less";

.create-meal-button-container {
    justify-content: space-around;
    display: flex;
    margin-bottom: 10px;
}

.delete-meal-button {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    padding-top: 10px;
}

.meal {
    height: 100%;
}

.text-container {
    width: 95%;
    cursor: pointer;
}

.meal-modal-interactions-container {
    display: flex;
    justify-content: space-between;
}