@import "./variables.less";

.confirm-order-btn {
    text-transform: uppercase;
    color: @main-color;
    border: 1px solid lightgrey;
    padding-top: 5px;
    padding-bottom: 3px;
    justify-content: flex-end;
    cursor: pointer;
}

.order-view {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    padding: 10px 10px 10px 10px;
}

.order {
    text-transform: capitalize;
    padding-top: 3px;
}

.customer {
    text-transform: capitalize;
    padding-top: 3px;
    margin-left: 5px;
}

.order-description {
    padding-top: 3px;
    margin-left: 5px;
    color: grey;
}